.TrainArrival {
  display: flex;
  flex-direction: row;
  margin: 1pt 16pt;
  align-items: center;
}

.TrainArrival-route {
  margin-right: 6pt;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TrainArrival-bullet {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.TrainArrival-express {
  height: 1.5em;
  text-align: center;
  transform: rotate(45deg);
  width: 1.5em;
}

.TrainArrival-express p {
  transform: rotate(-45deg);
}

.TrainArrival-label {
  flex: 1;
}
